/*!
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

@forward "./hero";
@forward "./reviews";
@forward "./recognize";
@forward "./steps";
@forward "./footer";
@forward "./facts";
@forward "./process";
@forward "./faq";