---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

import PrivacyConsent from "../../forms/PrivacyConsent.astro";

const { base } = Astro.props;
---

<div class="price-lead" id="price-lead" data-reveal="scroll">
  <div class="container">
    <form class="price-lead__form" action="#" method="post" data-reveal-item="1">
      <div class="price-lead__fields" data-reveal-item="2">
        <input
          class="price-field__input"
          name="name"
          type="text"
          placeholder="ІМʼЯ"
          required
        />
        <input
          class="price-field__input"
          name="contact"
          type="text"
          placeholder="ТЕЛЕФОН АБО НІК TELEGRAM"
          required
        />
      </div>

      <div data-reveal-item="3">
        <PrivacyConsent className="price-consent--dark" />
      </div>

      <div class="price-lead__cta" data-reveal-item="4">
        <div class="price-lead__btnWrap">
          <button class="price-lead__btn" type="submit">
            ЗАПИСАТИСЯ НА ПРОБНИЙ УРОК
          </button>

          <div class="price-lead__chip">
            <img
              src={`${base}img/messenger-sticker.png`}
              alt="Напишемо в месенджер"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <img
        class="price-lead__doodle"
        data-reveal-item="5"
        src={`${base}img/doodle-hand.png`}
        alt="Декоративний рукописний елемент"
        loading="lazy"
      />
    </form>
  </div>
</div>
