@use "./settings/tokens";
@use "./base/reset";
@use "./base/globals";
@use "./base/ui";
@use "./layout/container";

@use "./components/buttons";
@use "./components/header";
@use "./components/modal";
@use "./components/floating-cta";

@use "./price/price";
@use "./sections/hero";
@use "./sections/recognize";
@use "./sections/steps";
@use "./sections/reviews";
@use "./sections/footer";
