---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

const { hidden = false } = Astro.props
---

{!hidden && (
  <button
    class="floating-cta"
    type="button"
    data-open-modal
    aria-haspopup="dialog"
    aria-controls="consultModal"
  >
    <span>
      ХОЧУ
      <br />
      ПРОБНЕ ЗАНЯТТЯ
    </span>
  </button>
)}
