---
/**
 * TeaCha website
 * © 2026. All rights reserved.
 */

import PrivacyConsent from "../forms/PrivacyConsent.astro";

const { base = "/", className = "" } = Astro.props;
---

<section
  class={`startLead ${className}`}
  id="start-lead"
  data-reveal="scroll"
  style={`--startlead-bg: url(${base}img/books-on-shelf.png);`}
>
  <div class="container">
    <div class="startLead__grid">
      <header class="startLead__copy" data-reveal-item="1">
        <div class="sectionTitle sectionTitle--startLead">
          <p class="sectionTitle__line sectionTitle__line--a">Хочеш почати?</p>
          <p class="sectionTitle__line sectionTitle__line--b">Напиши нам</p>
        </div>
      </header>

      <div class="startLead__formWrap">
        <form
          class="startLead__form"
          id="start-lead-form"
          action="#"
          method="post"
          data-reveal-item="2"
        >
          <div class="startLead__fields" data-reveal-item="3">
            <label class="startLeadField">
              <span class="startLeadField__label">ІМ'Я</span>
              <input
                class="startLeadField__input"
                name="name"
                type="text"
                autocomplete="name"
                required
              />
            </label>

            <label class="startLeadField">
              <span class="startLeadField__label">ТЕЛЕФОН АБО НІК TELEGRAM</span>
              <input
                class="startLeadField__input"
                name="contact"
                type="text"
                autocomplete="tel"
                required
              />
            </label>
          </div>

          <div class="startLead__consent" data-reveal-item="4">
            <PrivacyConsent className="consent--dark" />
          </div>

          <div class="startLead__cta" data-reveal-item="5">
            <button class="startLead__submit" type="submit">
              ЗАПИСАТИСЯ НА ПРОБНИЙ УРОК
            </button>
          </div>
        </form>
        <img
          class="startLead__note"
          src={`${base}img/messenger-sticker.png`}
          alt="Наклейка: напишемо в месенджер"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
