---
/**
 * TeaCha website
 * © 2026. All rights reserved.
 */

import PrivacyConsent from "../forms/PrivacyConsent.astro";

const { base = "/" } = Astro.props;
---

<section
  class="startLead"
  id="start-lead"
  data-reveal="scroll"
  style={`--startlead-bg: url(${base}img/books-on-shelf.png);`}
>
  <div class="container">
    <div class="startLead__grid">
      <header class="startLead__copy" data-reveal-item="1">
        <div class="sectionTitle sectionTitle--startLead">
          <p class="sectionTitle__line sectionTitle__line--a">Хочеш почати?</p>
          <p class="sectionTitle__line sectionTitle__line--b">Напиши нам</p>
        </div>
      </header>

      <div class="startLead__formWrap">
        <form
          class="startLead__form"
          id="start-lead-form"
          action="#"
          method="post"
          data-reveal-item="2"
        >
          <p class="startLead__formTitle">Напиши нам</p>

          <div class="startLead__fields" data-reveal-item="3">
            <input
              class="leadField__input"
              name="name"
              type="text"
              placeholder="ІМ'Я"
              autocomplete="name"
              required
            />

            <input
              class="leadField__input"
              name="contact"
              type="text"
              placeholder="ТЕЛЕФОН АБО НІК TELEGRAM"
              autocomplete="tel"
              required
            />
          </div>

          <div class="startLead__cta" data-reveal-item="4">
            <div class="startLead__ctaInner">
              <button class="btn btn--startLead" type="submit">
                ЗАПИСАТИСЯ НА ПРОБНИЙ УРОК
              </button>
            </div>
          </div>

          <div class="startLead__consent" data-reveal-item="5">
            <PrivacyConsent className="price-consent--dark" />
          </div>
        </form>

        <div class="startLead__drops startLead__drops--back" aria-hidden="true">
          <div class="startLead__drop startLead__drop--1"></div>
          <div class="startLead__drop startLead__drop--3"></div>
        </div>

        <div class="startLead__drops startLead__drops--front" aria-hidden="true">
          <div class="startLead__drop startLead__drop--4"></div>
          <div class="startLead__drop startLead__drop--2"></div>
        </div>
      </div>
    </div>
  </div>
</section>
