---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

const { base } = Astro.props;
---

<section class="teachers" data-reveal="load">
  <div class="container">
    <h2 class="section-title" data-reveal-item="1">Засновниці мовного центру</h2>

    <div class="section-divider section-heading" aria-hidden="true" data-reveal-item="2"></div>

    <div class="teacher">
      <div class="teacher__card">
        <div class="teacher__content">
          <h3 class="teacher__name" data-reveal-item="3">Дарина і Дарія</h3>

          <p class="teacher__role" data-reveal-item="4">Засновниці мовного центру TeaCha</p>

          <div class="teacher__meta" data-reveal-item="5">
            <p class="teacher__meta-title">ДОСВІД ВИКЛАДАННЯ:</p>

            <div class="teacher__meta-grid teacher__meta-grid--two">
              <div class="teacher__meta-block">
                <div class="teacher__meta-label">англійської:</div>
                <div class="teacher__meta-value">8 років</div>

                <div class="teacher__meta-label">китайської:</div>
                <div class="teacher__meta-value">6 років</div>
              </div>

              <div class="teacher__meta-block">
                <div class="teacher__meta-label">англійської:</div>
                <div class="teacher__meta-value">7 років</div>

                <div class="teacher__meta-label">китайської:</div>
                <div class="teacher__meta-value">4 років</div>
              </div>
            </div>
          </div>

          <div class="teacher__edu" data-reveal-item="6">
            <h4 class="teacher__edu-title">ОСВІТА:</h4>

            <ul class="teacher__edu-list">
              <li>
                Червоний диплом магістра КНУ ім. Шевченка (китайська мова та
                література, англійська мова і переклад)
              </li>
              <li>
                Семестрова програма навчання в Університеті Ціндао, Китай
                (онлайн)
              </li>
              <li>
                Річна програма навчання в Університеті Ціндао, Китай (проживання
                і навчання в Китаї)
              </li>
              <li>Курси інституту Конфуція при КНУ ім. Шевченка</li>
            </ul>
          </div>
        </div>

        <div class="teacher__photo" data-reveal-item="7">
          <img
            class="teacher__img"
            src={`${base}img/daryna.webp`}
            alt="Дарина та Дарія"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
