---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

import BaseLayout from "../layouts/BaseLayout.astro";

import CorporateHero from "../components/pages/corporate/CorporateHero.astro";
import CorporateBenefits from "../components/pages/corporate/CorporateBenefits.astro";
import CorporateClients from "../components/pages/corporate/CorporateClients.astro";

import Process from "../components/sections/Process.astro";
import Faq from "../components/sections/Faq.astro";

import CorporatePriceTable from "../components/pages/corporate/CorporatePriceTable.astro";

const base = import.meta.env.BASE_URL;
---

<BaseLayout title="Корпоративне навчання">
  <main class="page-corporate">
    <CorporateHero base={base} className="sectionShell section--a" />
    <CorporateBenefits className="sectionShell section--b" />
    <Process
      className="sectionShell section--a"
      steps={[
        { text: "Знайомство з компанією, її<br/>потребами та ціллю навчання" },
        { text: "Оцінка рівня кожного студента<br/>та формування відповідних груп" },
        { text: "Індивідуальний навчальний план<br/>під запит компанії та рівень груп" },
        { text: "Початок<br/>навчання" },
        { text: "Щомісячна звітність про<br/>відвідуваність і успішність" },
      ]}
      footnote="* Кожна корпоративна група отримує план курсу, його опис, перелік лексичних та граматичних тем"
    />
    <slot />

    <CorporateClients base={base} className="sectionShell section--b" />

    <CorporatePriceTable className="sectionShell section--a" />

    <Faq className="sectionShell section--a" />
  </main>
</BaseLayout>
