<footer class="footer" id="contacts">
  <div class="container footer__grid">
    <div class="footer__brand">
      <div class="footerBrand">
        <img class="footerBrand__logo" src="/TeaCha/img/logo.png" alt="TeaCha" />
        <div class="footerBrand__name">
          <span class="tea">Tea</span><span class="cha">Cha</span>
        </div>
      </div>

      <div class="footer__linksSmall">
        <a href="#" class="footer__link">ДОГОВІР ПУБЛІЧНОЇ ОФЕРТИ</a>
        <a href="#" class="footer__link">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a>
      </div>
    </div>

    <div class="footer__col">
      <div class="footer__title">СТУДЕНТАМ</div>
      <a class="footer__a" href="#consult">Безкоштовна консультація</a>
      <a class="footer__a" href="/price">Ціни</a>
      <a class="footer__a" href="/about">Про нас</a>
      <a class="footer__a" href="#reviews">Відгуки</a>
    </div>

    <div class="footer__col">
      <div class="footer__title">НАВІГАЦІЯ</div>
      <a class="footer__a" href="/">Головна</a>
      <a class="footer__a" href="/english">Англійська</a>
      <a class="footer__a" href="/chinese">Китайська</a>
      <a class="footer__a" href="/corporate">Для бізнесу</a>
    </div>

    <div class="footer__col">
      <div class="footer__title">КОНТАКТИ</div>
      <div class="footer__text">+38 (000) 000-00-00</div>
      <div class="footer__text">hello@teacha.ua</div>

      <div class="footer__ctaRow">
        <a class="iconBtn" href="https://instagram.com/" aria-label="Instagram"
          >◎</a
        >
        <a class="iconBtn" href="https://t.me/" aria-label="Telegram">➤</a>
        <a class="pill" href="/contacts"
          >НАПИСАТИ НАМ <span aria-hidden="true">↗</span></a
        >
      </div>
    </div>
  </div>
</footer>
