<section class="recognize" id="services">
  <div class="container">
    <div class="recognize__head">
      <h2 class="h2">ВПІЗНАЄТЕ<br />СЕБЕ?</h2>
    </div>

    <div class="recognize__grid">
      <div class="note note--pink">
        <div class="note__top"><span class="note__tag">01</span></div>
        <h3 class="note__title">ЖИВЕТЕ У ФРАНКОМОВНІЙ КРАЇНІ,</h3>
        <p class="note__text">
          не розумієте носіїв мови, не знаєте як відповісти і боїтесь зробити
          помилку
        </p>
      </div>

      <div class="note note--yellow">
        <div class="note__top"><span class="note__tag">02</span></div>
        <h3 class="note__title">ВЖЕ ВИВЧАЄТЕ МОВУ,</h3>
        <p class="note__text">
          але урок не має структури, підручника і практики
        </p>
      </div>

      <div class="blob">
        <img src="/img/blob-photo.svg" alt="Фото" />
      </div>

      <div class="note note--right">
        <div class="note__top"><span class="note__tag">03</span></div>
        <h3 class="note__title">НЕ БАЧИТЕ ПРОГРЕСУ У ВИВЧЕННІ МОВИ:</h3>
        <p class="note__text">
          займаєтесь в групі, де вас не виправляють, робите безліч хаотичних
          вправ
        </p>
      </div>

      <div class="note note--right">
        <div class="note__top"><span class="note__tag">04</span></div>
        <h3 class="note__title">ХОЧЕТЕ ШВИДКИЙ РЕЗУЛЬТАТ,</h3>
        <p class="note__text">але не знаєте, з чого почати</p>
      </div>
    </div>
  </div>
</section>
