---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

---
<section class="steps" id="program">
  <div class="container">
    <div class="steps__top">
      <a class="pill" href="#consult"
        >ЗАГОВОРИТИ МОВОЮ В 3 КРОКИ <span aria-hidden="true">↗</span></a
      >
    </div>

    <div class="steps__grid">
      <article class="stepCard">
        <div class="stepCard__k">КРОК 1</div>
        <div class="stepCard__decor" aria-hidden="true">?</div>
        <div class="stepCard__t">визначте<br />свій рівень</div>
      </article>

      <article class="stepCard">
        <div class="stepCard__k">КРОК 2</div>
        <div class="stepCard__decor" aria-hidden="true">!!!</div>
        <div class="stepCard__t">поставте<br />мету</div>
      </article>

      <article class="stepCard">
        <div class="stepCard__k">КРОК 3</div>
        <div class="stepCard__decor" aria-hidden="true">↗</div>
        <div class="stepCard__t">досягніть<br />поставленої мети</div>
      </article>
    </div>

    <div class="steps__bottom" id="consult">
      <a class="pill" href="/contacts"
        >БЕЗКОШТОВНА КОНСУЛЬТАЦІЯ <span aria-hidden="true">↗</span></a
      >
    </div>
  </div>
</section>
