/*!
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */
@forward "./price-rates";
@forward "./price-lead";
@forward "./teachers";
@forward "./price-desktop";
