/*!
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

:root{
  --bg: #ffffff;
  --text: rgba(43, 46, 68, 1);
  --muted: #6b6b6b;

  --red: rgba(219, 31, 50, 1);
  --accent: rgba(225, 67, 63, 1);
  --white: rgb(255, 255, 255);

  --shadow: 0 10px 30px rgba(0,0,0,.08);

  --radius-xl: 34px;
  --radius-lg: 26px;
  --radius-md: 18px;

  --container: 1200px;
}
