---
/**
 * TeaCha website
 * Design & development: Ілля Пінчук Вадимович
 * © 2026. All rights reserved.
 */

import "../styles/main.scss";

import Header from "../components/layout/Header.astro";
import Footer from "../components/Footer.astro";

import FloatingCta from "../components/layout/FloatingCta.astro";
import ModalConsult from "../components/layout/ModalConsult.astro";
import ToastHost from "../components/layout/ToastHost.astro";

const pathname = Astro.url.pathname;
const isHome = pathname === "/";
---

<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>TeaCha</title>
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />

    <FloatingCta hidden={isHome} />
    <ModalConsult />
    <ToastHost />

    <script type="module" src={`${import.meta.env.BASE_URL}scripts/main.js`}
    ></script>
  </body>
</html>
